.swal2-loading.swal2-popup{
  background: transparent !important;
}



.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  // background: rgba(255,255,222,.4);
  background: rgba(255, 255, 255, .9);
}


.swal2-popup{
  padding: 10px !important;
  font-size: 15px;
}